@font-face { font-family: 'Squealer'; src: url(assets/fonts/squealer.ttf); }
@font-face { font-family: 'Squirk'; src: url(assets/fonts/squirk.otf); }

/* New design coming soon! */
*{
    padding: 0px;
    margin: 0px;
}

html{
    background-color: rgb(25, 30, 40);
}

.logo{
    width: 60px;
    cursor: pointer;
    
    padding-left: 25px;
    padding-bottom: 0.5%;
}

.title{
    font-family: 'Squirk';
    font-size: 32px;
    color: white;
    
    padding-top: 2px;
}

.container{
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, Helvetica, sans-serif;
    overflow: hidden;

    height: 100%;
    width: 100%;

    background-color: rgb(50, 60, 80);
    background-position: center;
    background-size: cover;

    box-sizing: border-box;
    align-items: center;
    position: relative;
}

/* #region NAVIGATION_BAR */
.nav-bar{
    width: 100%;
    height: 100px;

    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;

    margin: auto;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-bar nav{
    flex: 1;
    padding-left: 1px;
    padding-top: 10px;
}

.nav-bar nav ul li{
    margin: 0px 20px;
    list-style: none;

    display: inline-block;
}

.nav-bar nav ul li a{
    font-family: 'Helvetica';
    font-size: 18px;

    text-decoration: none;
    color: white;
}
/* #endregion */

/* #region ABOUT_ME */
.about_content nav{
    flex: 1;
    padding-top: 18px;
    padding-bottom: 18px;

    align-items: center;

    color:rgb(235, 235, 235);
    margin: 20px 20px;
}

.about_post{
    width: 65%;
    float: left;

    background-color: rgba(155, 155, 155, 0.5);
    background-position: center;
    background-size: cover;

    margin-top: 1.25%;
    margin-bottom: 1.25%;
    
    margin-left: 3.25%;
    margin-right: 3.25%;

    border-top-right-radius: 25px;

    font-size: 17px;
    font-family: 'Arial';
}
/* #endregion */

/* #region SOCIALS */
.socials_content nav{
    flex: 1;
    padding-top: 18px;
    padding-bottom: 18px;

    color:rgb(235, 235, 235);
    margin: 20px 20px;
}

.socials_post{
    width: 60%;
    float: right;

    background-color: rgba(155, 155, 155, 0.5);
    background-position: center;
    background-size: cover;

    margin-top: 1.25%;
    margin-bottom: 1.25%;
    
    margin-left: 3.25%;
    margin-right: 3.25%;

    border-top-left-radius: 25px;

    font-size: 17px;
    font-family: 'Arial';
}

.socials_post ul h3{
    font-size: 18px;
}

.socials_post nav ul li{
    list-style: none;
}

.socials_post nav ul li a{
    font-family: 'Helvetica';
    font-size: 15px;

    text-decoration: none;
    color: white;
}
/* #endregion */