@font-face { font-family: 'Vantage BRK'; src: url(assets/fonts/vantage.ttf); }
@font-face { font-family: 'Squealer'; src: url(assets/fonts/squealer.ttf); }
@font-face { font-family: 'Squirk'; src: url(assets/fonts/squirk.otf); }

/* #region BASIC */
*{
    padding: 0px;
    margin: 0px;
    cursor: url(assets/images/cursor.svg), auto;
}

.container{
    height: 969px;
    width: 100%;
    
    background-position: center;
    background-color: whitesmoke;
    background-size: cover;
    
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, Helvetica, sans-serif;
    
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    
    box-sizing: border-box;
    position: relative;
}
/* #endregion */

/* #region NAVBAR */
.navbar{
    background-color: rgb(155, 155, 155);
    background-position: center;
    background-size: cover;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    width: 100%;
    height: 125px;
    
    margin: auto;
    display: flex;
    
    align-items: center;
}
/* #endregion */

/* #region BRANDING */
.logo{
    padding-left: 25px;
    padding-bottom: 0.5%;
    
    width: 80px;
    cursor: pointer;
}

.title{
    font-family: 'Squirk';
    font-size: 48px;
    color: white;
    
    padding-top: 2px;
}
/* #endregion */

/* #region NAVIGATION */
nav{
    flex: 1;
    padding-left: 1px;
    padding-top: 17.5px;
}

nav ul li{
    display: inline-block;
    
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    font-family: 'Helvetica';

    text-decoration: none;
    font-size: 18px;
    color: white;
}
/* #endregion */

/* #region ABOUT_CONTENT */
.about_content nav{
    flex: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    
    text-align: center;
    margin: 20px 20px;
}
/* #endregion */

/* #region CONTENT */
.content nav{
    flex: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    
    margin: 20px 20px;
}
/* #endregion */

/* #region POST */
.post{
    background-color: rgb(155, 155, 155);
    background-position: center;
    background-size: cover;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    margin-top: 1.25%;
    
    font-size: 18px;
}

.post ul h1{
    font-family: 'Squealer';
    font-size: 50px;
    color: black;
}

.post ul b{
    color: black;
}

.post ul p br{
    text-align: center;
}
/* #endregion */

/* #region CURSOR */
/* .cursor{
    width: 20px;
    height: 20px;
    
    border: 1px solid black;
    border-radius: 50%;

    pointer-events: none;

    position: absolute;
} */
/* #endregion */