* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background-color: whitesmoke;
}

#p0 {
    text-indent: 32px;
}

#p1 {
    text-indent: 64px;
}

.accordion_btn {
    background: #333;
    
    border: none;
    border-radius: 5px;

    color: rgb(255, 255, 255);
    cursor: pointer;
    
    display: block;
    margin-top: 10px;

    outline: none;
    padding: 14px;

    text-align: left;
    width: 100%;
}

.accordion_btn::after {
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.accordion_btn--active { background: #444; color: rgb(235, 235, 235) }
.accordion_btn--active::after { content: '\25b4' }

.nav-content {
    max-height: 0;
    overflow: hidden;
}

#navbar {
    border-right: solid;
    border-color: gray;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 300px;
    height: 100%;

    padding-left: 10px;
    padding-right: 10px;
}

#navbar::-webkit-scrollbar {
    display: none;
}

#navbar hr {
    border-style: solid;
    margin: 20px 0;
    opacity: 0.2;
}

.nav-links i {
    margin-right: 10px;
}

.nav-links li {
    border-radius: 5px;
    border-bottom: 1px solid;
    border-color: gray;

    color: black;
    list-style: none;

    position: relative;
    width: 100%;
}

.nav-links li a {
    color: black;
    cursor: pointer;

    display: block;
    padding: 10px 30px;

    text-decoration: none;
}

.nav-links li a:hover {
    background-color: gray;
    color: whitesmoke;
}

#navbar h3 {
    border: 1px solid black;
    border-radius: 5px;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: thin;

    margin: 20px 10px 20px 10px;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

#main {
    position: absolute;
    margin: 0 0 110px 290px;
    padding: 16px;
}

header {
    display: flex;
}

header .user-avatar {
    border: 1px solid gray;
    border-radius: 50%;

    height: 50px;
    width: 50px;
}

header .user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

header .follow-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .follow-btn a {
    padding: 5px;
}

header h3, h4 {
    margin: 0;
}

.s_blog {
    border: 1px solid black;
    border-radius: 5px;

    margin: 4px 30px 4px 30px;
    margin-bottom: 20px;
    padding: 16px;
}

.content p {
    margin-left: 10px;
    font-size: 16px;
}

.content h2, h3{
    margin-left: 10px;
}

.content hr {
    border-style: solid;
    margin: 20px 0;
    opacity: 0.2;
}

.content span {
    margin-left: 10px;
}

footer p{
    text-align: center;
    color: rgba(0, 0, 0, 1)
}

.time {
color: rgba(0, 0, 0, 0.6);

font-size: 24px;
font-family: 'Helvetica';
}

footer {
    color: black;
    padding: 20px;
}

footer p {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

@media screen and (min-width: 240px) and (max-width: 960px) and (orientation: portrait) {
    #p0 {
        text-indent: 32px;
    }
    
    #p1 {
        text-indent: 64px;
    }
    
    #nv {
        font-style: italic;
        text-indent: 16px;
    }

    #main {
        margin: 0 0 0 0;
    }
    
    #navbar {
        opacity: 0;
        pointer-events: none;
    }

    code {
        font-size: 8px;
    }

    object {
        opacity: 0;
        pointer-events: none;

        height: 0;
        width: 0;
    }
}