* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    color: #333;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

#p0 {
    text-indent: 64px;
}

#p1 {
    text-indent: 128px;
}

#nv {
    font-style: italic;
    text-indent: 64px;
}

#navbar {
    border-right: solid;
    border-color: gray;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 300px;
    height: 100%;
}

.nav-links li {
    border-bottom: 1px solid;
    border-color: gray;

    color: black;
    list-style: none;

    position: relative;
    width: 100%;
}

.nav-links li a {
    color: black;
    cursor: pointer;

    display: block;
    padding: 10px 30px;

    text-decoration: none;
}

.nav-links li a:hover {
    background-color: gray;
    color: whitesmoke;
}

#navbar h3 {
    border: 1px solid black;
    border-radius: 5px;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: thin;

    margin: 20px 10px 20px 10px;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

#navbar hr {
    border-style: solid;
    margin: 20px 0;
    opacity: 0.2;
}

#main-doc {
    position: absolute;
    margin: 0 0 110px 310px;
    padding: 20px;
}

#main-doc h2 {
    border: 1px solid black;
    border-radius: 5px;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

    margin: 0px 10px 0px 10px;
    padding: 10px 15px 10px 15px;
    text-align: left;
}

#main-doc h3 {
    border: 1px solid black;
    border-radius: 5px;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    margin: 10px;
    padding: 10px 15px 10px 15px;
    text-align: left;
}

article {
    color: black;

    margin: 16px;
    font-size: 16px;
    text-indent: 32px;
}

code {
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    display: block;
    
    font-size: 12px;
    line-height: 2;

    margin: 10px;
    padding: 15px;
    position: relative;
}

hr {
    margin: 10px 0 15px 0;
}

object {
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    color: black;
    padding: 20px;
}

footer p {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.cdate {
    font-size: 12px;
}