* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    color: #333;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

#p0 {
    text-indent: 128px;
}

#p1 {
    text-indent: 64px;
}

#n0 {
    text-indent: 128px;
    font-size: 14px;
}

#nv {
    font-style: italic;
    text-indent: 64px;
}

.accordion_btn {
    background: #333;
    
    border: none;
    border-radius: 5px;

    color: rgb(255, 255, 255);
    cursor: pointer;
    
    display: block;
    margin-top: 10px;

    outline: none;
    padding: 14px;

    text-align: left;
    width: 100%;
}

.accordion_btn::after {
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.accordion_btn--active { background: #444; color: rgb(235, 235, 235) }
.accordion_btn--active::after { content: '\25b4' }

.content {
    max-height: 0;
    overflow: hidden;
}

#navbar {
    border-right: solid;
    border-color: gray;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    position: fixed;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 300px;

    padding-left: 10px;
    padding-right: 10px;
}

#navbar::-webkit-scrollbar {
    display: none;
}

#navbar h3 {
    border: 1px solid black;
    border-radius: 5px;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: thin;

    margin: 20px 10px 0px 10px;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

#navbar hr {
    border-style: solid;
    margin: 20px 0;
    opacity: 0.2;
}

.nav-links li {
    border-radius: 5px;
    border-bottom: 1px solid;

    color: black;
    list-style: none;

    position: relative;
    width: 100%;
}

.nav-links li a {
    border-radius: 5px;

    color: black;
    cursor: pointer;

    display: block;
    padding: 10px 30px;

    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #333;
    color: whitesmoke;
}

.nav-links i {
    margin-right: 10px;
}

#main-doc {
    position: absolute;
    margin: 0 0 110px 310px;
    padding: 20px;
}

#main-doc h2 {
    border: 1px solid black;
    border-radius: 5px;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

    margin: 0px 10px 0px 10px;
    padding: 10px 15px 10px 15px;
    text-align: left;
}

#main-doc h3 {
    border: 1px solid black;
    border-radius: 5px;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    margin: 10px;
    padding: 10px 15px 10px 15px;
    text-align: left;
}

article {
    color: black;

    margin: 16px;
    font-size: 16px;
    text-indent: 32px;
}

code {
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    display: block;
    
    font-size: 12px;
    line-height: 2;

    margin: 10px;
    padding: 15px;
    position: relative;
}

hr {
    margin: 10px 0 15px 0;
}

object {
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    color: black;
    padding: 20px;
}

footer p {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.cdate {
    font-size: 12px;
}

@media screen and (min-width: 240px) and (max-width: 960px) and (orientation: portrait) {
    #p0 {
        text-indent: 32px;
    }
    
    #p1 {
        text-indent: 64px;
    }
    
    #nv {
        font-style: italic;
        text-indent: 16px;
    }

    #main-doc {
        margin: 0 0 0 0;
    }
    
    #navbar {
        opacity: 0;
        pointer-events: none;
    }

    code {
        font-size: 8px;
    }

    object {
        opacity: 0;
        pointer-events: none;

        height: 0;
        width: 0;
    }
}