@font-face { font-family: 'Squealer'; src: url(/assets/fonts/squealer.ttf); }
@font-face { font-family: 'Squirk'; src: url(/assets/fonts/squirk.otf); }

@import url("https://fonts.googleapis.com/css?family=Raleway:400");

/* #region BASIC */
*{
    box-sizing: border-box;

    padding: 0px;
    margin: 0px;
}

html{
    height: 100%;
    width: 100%;

    background-image: url(/assets/images/backgrounds/background_1080.jpg);
    background-repeat: no-repeat;

    color: white;
    min-height: 100vh;
}

.container{
    height: 100%;
    width: 100%;

    position: absolute;

    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 3.5%;
    padding-right: 3.5%;

    box-sizing: border-box;
    position: relative;
}

.copyright{
    padding-top: 2%;
    padding-bottom: 1%;

    color: white;
    text-align: center;
}

/* #region WRAPPER */
.wrapper{
    margin: 10% auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.wrapper div li{
    display: inline-block;
    list-style: none;
}

.wrapper div li a{
    font-family: 'Corbel';
    font-size: 32px;

    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}
/* #endregion */

/* #region BOX */
.box {
    background-color: rgba(0, 0, 0, 0.275);
    background-position: center;
    background-size: cover;

    margin: 15px;
    padding: 19.38px;

    border: 2px solid;
    border-color: coral;
    
    backdrop-filter: blur(7px);
}
/* #endregion */

/* #region NAVBAR */
.general{
    width: 100%;
    height: 68px;
    
    background-color: rgba(0, 0, 0, 0.275);
    background-position: center;
    background-size: cover;

    backdrop-filter: blur(7px);

    margin: auto;
    display: flex;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* #endregion */

/* #region GENERAL_ITEMS */
.title{
    font-family: 'Squirk';
    font-size: 32px;
    
    color: whitesmoke;
    padding-left: 20px;
}

.time{
    float: right;

    color: white;
    padding-right: 20px;

    font-size: 32px;
    font-family: 'Arial';
}

.general nav{
    flex: 1;
    padding-left: 1px;
    padding-top: 17.5px;
}

.general nav ul li{
    margin: 0% 1%;

    display: inline-block;
    list-style: none;
}
/* #endregion */