@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    padding: 20px 0% 20px 0;

    width: 100%;
    max-width: var(--desktop-max-width);
}

nav a, 
nav button,
nav li{
    color: var(--font-color);
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}
  
.nav-links li a:hover {
    color: var(--primary-color);
}

.mobile-nav-links{
    display: none;
}

.checkbox {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.checkbox:checked + .label {
    background-color: whitesmoke;
}

.checkbox:checked + .label .ball {
    background-color: rgb(40, 40, 40);
    transform: translateX(24px);
}

.label {
    align-items: center;
    background-color: rgb(40, 40, 40);

    border: none;
    border-radius: 20px;

    cursor: pointer;

    display: flex;
    position: relative;

    height: 24px;
    width: 48px;

    transition: all 0.3 ease 0s;
}

.ball {
    background-color: whitesmoke;
    border-radius: 10px;

    position: absolute;
    left: 4px;

    height: 16px;
    width: 16px;

    transition: transform 0.2s linear;
}

@media screen and (min-width: 280px) and (max-width: 620px) {
  .logo{
    display: none;
  }

  .nav-links{
    display: none;
  }

  .mobile-nav-links{
    display: block;
  }

  .mobile-nav-links li a {
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 960px) {
  nav{
    max-width: var(--mobile-max-width-1);
  }
}

@media screen and (max-width: 540px) {
  nav{
    max-width: var(--mobile-max-width-2);
  }
}

@media screen and (max-width: 420px) {
  nav{
    max-width: var(--mobile-max-width-3);
  }
}

@media screen and (max-width: 280px) {
  nav{
    max-width: var(--mobile-max-width-4);
  }
}