@font-face { font-family: 'Squirk'; src: url(assets/fonts/squirk.otf); }

/* #region GENERAL_STYLING */
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background: whitesmoke;
    
    color: #333;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* #region GENERAL_COLORS */
.text-primary {
    color: orangered;
}

.bg_light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: white;
}
/* #endregion */
/* #endregion */

/* #region NAVBAR */
#navbar {
    top: 0;
    z-index: 1;
    height: 8vh;

    position: sticky;

    color: black;
    background: rgba(245, 245, 245, 0.65);
    backdrop-filter: blur(10px);
}

.nav-links {
    height: 100%;
    margin-left: auto;
    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.nav-links li a {
    border-radius: 10px;
    color: black;

    padding: 1rem;

    font-size: 16px;
    text-decoration: none;

    transition: background-color 0.25s;
}

.nav-links li a:hover {
    color: white;
    background-color: orangered;
}
/* #endregion */

/* #region SOCIAL */
.social {
    z-index: 1;

    height: 100vh;
    display: flex;

    flex-direction: column;
    position: fixed;

    justify-content: center;
}

.social a {
    color: orangered;
    background: rgba(245, 245, 245, 0.5);
    box-shadow: 2px 2px 5px gray;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 20px;

    margin: 5px;
    padding: 20px;

    text-align: center;
    transition: transform 1s;
}

.social a:hover {
    transform: translate(20px, 0);
}

.social i {
    margin-top: 5px;
    font-size: 20px;
}
/* #endregion */

/* #region SHOWCASE_AREA */
#showcase {
    height: 91.35vh;
    border-radius: 20px;

    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;

    background: url(/assets/images/background.jpg) no-repeat center center/cover;
}

.showcase-content {
    height: 91.35vh;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.6);

    text-align: center;
    align-items: center;
    justify-content: center;
}

.showcase-content h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.showcase-content .btn {
    font-size: 1.5rem;
    padding: 1rem 10rem;
}

.showcase-content .btn:hover{
    background-color: orangered;
    color: white;
}

.btn {
    border: 1px solid orangered;
    border-radius: 25px;

    background: rgba(0, 0, 0, 0.275);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color: orangered;

    padding: 1rem 2rem;
    display: inline-block;

    font-weight: bold;
    text-decoration: none;
}
/* #endregion */

/* #region SECTION_ABOUT */
#about {
    border: 3px solid orangered;
    padding: 5rem;

    border-radius: 20px;

    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#about h2 {
    font-size: 3rem;
    margin-bottom: 3rem;

    text-align: center;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p .lead {
    margin-bottom: 1rem;
}

#about .about-content {
    display: flex;
}

#about .about-text,
#about .about-image {
    flex: 1;
}

#about .about-text {
    list-style: none;

    text-align: justify;
    text-decoration: none;
}

#about .about-text li a i {
    color: orange;
    align-content: center;
}

#about .about-image img {
    display: block;
    border-radius: 100%;
    
    margin-top: 5px;
    margin-left: auto;

    width: 45%;
}
/* #endregion */

@media screen and (min-width: 200px) and (max-width: 767px) and (orientation : portrait)
{
    .social { 
        display: none;
    }

    /* #region NAVBAR_MOBILE */
    .line {
        height: 3px;
        width: 30px;

        background: black;
        margin: 5px;
    }

    #navbar { 
        position: relative;
    }

    .nav-button {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;

        z-index: 2;
        transform: translate(-5%, -50%);
    }

    .nav-links {
        height: 100vh;
        width: 100%;

        position: fixed;
        flex-direction: column;
        
        background:rgb(245, 245, 245);

        clip-path: circle(0% at 90% -10%);
        -webkit-clip-path: circle(0% at 90% -10%);
        transition: all 1s ease-out;

        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(100% at 90%);
        -webkit-clip-path: circle(100% at 90%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        transition: none;
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade{
        opacity: 1;
    }
    /* #endregion */

    /* #region SHOWCASE_MOBILE */
    #showcase {
        height: 89.35vh;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .showcase-content {
        height: 89.35vh;
    }

    .showcase-content h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1.35rem;
    }

    .showcase-content .btn {
        font-size: 1rem;
        padding: 1rem 3rem;
    }
    /* #endregion */

    #about {   
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}