* {
  box-sizing: border-box;
  font-family: sans-serif;

  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: #fff;
  --box-color: #f4f5ff;
  --border-color: rgba(50, 50, 50, 0.4);
  --font-color: #424242;

  --heading-color: #393e41;
  --heading-font-color: #f4f5ff;
  --hover-color: rgba(50, 50, 50, 0.8);

  --primary-color: #e55934;
  --secondary-color: #955100;
}

[data-theme="dark"] {
  --bg-color: #a39193;
  --message-color: #66545e;
  --box-color: #66545e;
  /* d2ae62 */
  --border-color: #c5acac; /*This is for the box border aka accent */
  /* 493433 */

  --font-color: #fff9ee;

  --heading-color: #fff;
  --heading-font-color: #424242;
  --hover-color: #f4f5ff;

  --primary-color: #c5acac;
  --secondary-color: #fdcf99;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  overflow-x: hidden;
  transition: background 0.2s linear;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
}

.row {
  display: flex;
  margin: 300px 0;
  text-align: center;
  justify-content: center;
}

.col-1 {
  color: var(--font-color);
  position: relative;
  margin-left: 50px;
  flex-basis: 40%;
}

.col-1 h2 {
  font-size: 48px;
}

.col-1 h3 {
  font-size: 24px;
  margin: 20px 0 10px;
}

i {
  text-align: center;
  justify-content: center;
}

/*=================================*/
/*=============Heading=============*/
/*=================================*/

.heading {
  margin: 20px 0px;
}

.heading h1 {
  font-size: 3.5rem;
  line-height: 72px;
}

.heading h1 span {
  background-color: var(--heading-color);
  border-radius: 10px;

  color: var(--heading-font-color);
  padding: 6px 12px;
}

/*=================================*/
/*==============Footer=============*/
/*=================================*/

footer {
  padding: 40px;
}

footer p {
  color: var(--font-color);
  text-align: center;
}
