* {
  box-sizing: border-box;
  font-family: sans-serif;

  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: #fff;
  --box-color: #f4f5ff;
  --border-color: rgba(50, 50, 50, 0.4);
  --font-color: #424242;

  --heading-color: #393e41;
  --heading-font-color: #f4f5ff;

  --primary-color: #3eb489;
  --secondary-color: #607999;
  --text-shadow: none;

  --max-width: 960px;
}

[data-theme="dark"] {
  --bg-color: #393e41;
  --box-color: #454b4f;
  --border-color: rgba(245, 245, 255, 0.4);
  --font-color: #fff;

  --heading-color: #fff;
  --heading-font-color: #424242;

  --primary-color: #3eb489;
  --secondary-color: #ccfbe5;
  --text-shadow: black 0px 1px 2px; 
}

::-moz-selection {
  color: white;
  background: var(--primary-color);
}

::selection {
  color: white;
  background: var(--primary-color);
  text-shadow: black 0px 1px 2px; 
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  background-color: var(--bg-color);
  transition: background 0.2s linear;
  text-shadow: var(--text-shadow);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome {
  padding-bottom: 20px;
}

#projects,
#videos,
#contact {
  padding: 20px 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  text-shadow: none;
}

iframe {
  border-radius: 10px;
}

.container {
  width: 100%;
  max-width: var(--max-width);
}

.section-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.section-container.welcome-container,
.section-container.videos-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-box {
  background-color: var(--box-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 16px;
  position: relative;
  transition: all ease 0.5s;
}

.content-box:hover {
  border-color: var(--primary-color);
  transform: scale(1.01);
  transform: all ease 0.2s;
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
}

.content-box:hover::after {
  opacity: 1;
}

.content-box.welcome-box {
  padding: 8px 16px;
}

.content-box.welcome-box:hover,
.content-box.project-box:hover {
  border-color: var(--border-color);
  transform: none;
  transform: none;
  transition: none;
}

.content-box.welcome-box .description {
  color: var(--font-color);
  letter-spacing: 1px;
  padding: 0;
}

.box-content {
  display: flex;
  flex-direction: column;
  padding: 10px 3px;
  z-index: 2;
}

.category {
  color: var(--font-color);
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title {
  color: var(--font-color);
  font-size: 1.4rem;
  font-weight: 500;

  letter-spacing: 1px;
  margin: 5px 0px;
  padding-top: 5px;
}

.title.video-title {
  margin: 0;
}

.description {
  color: var(--font-color);
  letter-spacing: 1px;
  padding-top: 5px;
  z-index: 1;
}

.video-box {
  cursor: pointer;
}

.contact-box {
  display:block;
  width: 100vw;
  max-width: var(--max-width);
}

label{
  color: var(--font-color);

  font-family: monospace;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

input,
textarea{
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  background-color: var(--box-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;

  color: var(--font-color);

  margin: 12px 0;
  padding: 0 12px;
  
  font-family: monospace;

  height: 42px;
  width: 100%;
}

input:hover,
textarea:hover{
  border-color: var(--primary-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--font-color);
}

textarea{
  padding: 12px;
  resize: none;

  height: 86px;
}

textarea:focus::placeholder{
  color: transparent;
}

/*=================================*/
/*=============Heading=============*/
/*=================================*/

.heading {
  padding-bottom: 20px;
}

.heading h1 {
  font-size: 3.5rem;
  line-height: 72px;
}

.heading h1 span {
  background-color: var(--heading-color);
  border-radius: 10px;

  color: var(--heading-font-color);
  padding: 6px 12px;
}

/*=================================*/
/*==============Footer=============*/
/*=================================*/

footer{
  font-size: 12px;
  padding: 4% 0;

  text-shadow: var(--text-shadow);
}

footer a {
  font-family: monospace;
}

footer p{
  color: var(--font-color);
  font-family: monospace;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 760px;
  }

  .contact-box {
    max-width: 760px;
  }

  .section-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 480px;
  }

  .contact-box {
    max-width: 480px;
  }

  .section-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 320px;
  }

  .contact-box {
    max-width: 320px;
  }

  .section-container {
    display: flex;
    flex-direction: column;
  }
}